<% provide :title, @taxon.name %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'taxon_search' %>
        <%= render 'price_search' %>
        <%= render 'color_search' %>
        <%= render 'size_search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <%= render 'product_list' %>
      </div>
    </div>
  </div>
</section>

<%= render 'brand_logo' %>
