<ul class="list-inline">
  <li>
    <%= link_to potepan_category_path(root.id) do %>    
    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
    <% end %>
  </li>
  <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
</ul>
