<% provide :title, @product.name %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render partial: 'product_images', locals: { product: @product } %>
          <div class="media-body">
            <%= render partial: 'return_categories_page', locals: { root: @root } %>
            <h2><%= @product.name %></h2>
            <h3><%= @product.price %></h3>
            <p><%= @product.description %></p>
            <%= render 'options'%>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'related_products', locals: { related_products: @related_products } %>
  </div>
</section>
