<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/shared/meta' %>
  <%= render 'layouts/shared/site_title' %>
  <%= render 'layouts/shared/head' %>
</head>
<body>
  <div class="main-wrapper">
    <%= render 'layouts/shared/navbar' %>
    <%= render 'layouts/shared/light_section' %>
    <%= yield %>
    <%= render 'layouts/modals/product_quick_view_modal' %>
    <%= render 'layouts/shared/footer' %>
    <%= render 'layouts/shared/copy_right' %>
  </div>
  <%= render 'layouts/modals/login_modal' %>
  <%= render 'layouts/modals/sign_up_modal' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
